<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>es</string>
    <key>CFBundleDisplayName</key>
    <string>FichajeXpert</string>
    <key>NSCameraUsageDescription</key>
    <string>FichajeXpert necesita acceso a la cámara para escanear códigos QR y verificar la identidad de los empleados durante el fichaje.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Se requiere acceso a la ubicación para registrar el centro de trabajo correcto.</string>
</dict>
</plist>
